.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container--big {
  max-width: 1500px;
}

.container--small {
  max-width: 800px;
}

.section {
  max-height: 130vh;
}

.box {
  border-radius: 19px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box--small {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.box--tight {
  padding: 10px;
}

.box--stretched {
  padding: 40px;
}

.box--purple {
  background-color: var(--color-purple);
}

.box--yellow {
  background-color: var(--color-yellow);
}

.button {
  background-color: var(--color-yellow);
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button:hover {
  background-color: var(--color-white);
  color: var(--color-purple);
}

.bigTitle {
  color: var(--color-blue);
  font-size: 30px;
}

.smallTitle {
  color: var(--color-black);
  margin: 0;
  padding: 0;
}
